{% extends 'base.html' %}

{% block body %}
<div class="container">
  <a href="/posts/{{ post.id }}/update/" class="btn btn-success">수정</a>
  <a href="/posts/{{ post.id }}/delete/" class="btn btn-danger">삭제</a>
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  {% if post.image %}
    <img src="{{  post.image.url }}" alt="{{  post.image }}">
  {% else %}
    <img src="/media/no_image.jpg" alt="no_image">
  {% endif %}
  <p>{{ post.created_at }}</p>
  <p>{{ post.updated_at }}</p>
  <hr>
  <h2>댓글 목록</h2>
  <form action="/posts/{{ post.id }}/create_comment/" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit">
  </form>
  <hr>
  <div class="container">
    <p>{{ comment | length }}<i>개의 댓글이 있습니다.</i></p> <!-- 성능상 추천(코스트 문제) -->
    <!-- {{ comment.count }} -->
    {% for comment in comments %}
      <p>{{ comment.content }}</p>
    {% empty %}
      <p><i>아직 댓글이 없습니다 댓글 추가 부탁드려요! :)</i></p>
    {% endfor %}
  </div>
</div>

{% endblock %}