{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>새글쓰기</h1>

  <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      {% csrf_token %}
      <label for="title">제목</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력해 주세요.">
      <label for="content">내용</label>
      <textarea id="content" name="content" class="form-control" rows="10"></textarea>
      <input type="file" name="image" accept="image/*">
    </div>
    <button type="submit" class="btn btn-primary">글쓰기</button>
  </form>
    
</div>

{% endblock %}