{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>수정하기</h1>

  <form action="{% url 'posts:update' post.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" value="{{ post.title }}" class="form-control" id="title" name="title" placeholder="제목을 입력해 주세요.">
      <label for="content">내용</label>
      <textarea id="content" name="content" class="form-control" rows="10">{{ post.content }}</textarea>
      {% if post.image %}
        <img src="{{  post.image.url }}" alt="{{  post.image }}">
      {% else %}
        <img src="/media/no_image.jpg" alt="no_image">
      {% endif %}
      <input type="file" name="image" accept="image/*">
    </div>
    <button type="submit" class="btn btn-primary">수정하기</button>
  </form>
    
</div>

{% endblock %}