{% extends 'base.html' %}

{% load bootstrap4 %}

{% block main %}
<h1>{{ person }}</h1>
{% with followers=person.followers.all followings=person.followings.all %}
  {% if user != person %}
    {% if user in followers %}
      <a class="btn btn-outline-primary" href="{% url 'accounts:follow' person.pk %}">언팔로우</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'accounts:follow' person.pk %}">팔로우</a>
    {% endif %}
  {% endif %}

  <p>팔로워수 : {{ followers|length }}</p>

  {% for follower in followers %}
    <p>{{ follower }}</p>
  {% endfor %}

  <p>팔로잉수: {{ followings|length }}</p>
  {% for following in followings %}
    <p>{{ following }}</p>
  {% endfor %}  
{% endwith %}
{% endblock %}
<hr>
{% block body %}
<h2>{{ person }}가 쓴 글</h2>
{% with articles=person.article_set.all %}
  {% for article in articles %}
    제목 : {{ article.title }} | 좋아요 : {{ article.like_users.count }} | 좋아요 : {{ article.comment_set.count }}
  {% endfor %}
{% endwith %}
  
{% endblock %}