{% extends 'base.html' %}
{% load bootstrap4 %}

{% block main %}
<h1>상세보기</h1>
{% endblock %}

{% block body %}
<div class="form-group">
  <h3>Title</h3>
  <h4>{{article.title}}</h4>
  <p>작성자 : {{ article.user }}</p>
</div>
<br>
<div class="form-group">
  <h5 for="content">Content</h5>
  <p></p>
  <pre>{{article.content}}</pre>
  <p>생성일 {{ article.created_at | date:"Y년 M d일"}}</p>
  <p>수정일 {{ article.updated_at | date:"Y년 M d일"}}</p>
  <!-- sort_date_format으로 간편 포멧팅 가능 -->
</div>
{% if user in article.like_users.all %}
<p><a href="{% url 'articles:dislike' article.pk %}">좋아요 취소</a></p>
{% else %}
<p><a href="{% url 'articles:like' article.pk %}">좋아요</a></p>
{% endif %}
<p>좋아요 : {{ article.like_users.count }}</p>
<p>좋아하는 사람들</p>
{% for u in article.like_users.all %}
<p>{{ u }}</p>
{% endfor %}
<a href="{% url 'articles:index' %}">목록보기</a>
<div class="container" style="width: 80%;">
  {% for comment in comments %}
  <div class="row">
    {% if comment.pk == comment_pk %}
    <form action="{% url 'articles:update_comment' article.pk comment.pk %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if user == article.user %}
      <button type="submit" class="btn btn-primary">수정</button>
      {% endif %}
      <p>test</p>
    </form>
    <!-- <p>조회수 : {{ visits }}</p> -->

    {% else %}
    <div class="col-1">{{ forloop.counter }}</div>
    <div class="col-5">{{ comment.user }} - {{ comment.content }}</div>
    <div class="col-2">{{ comment.created_at | date:"y/m/d h:m" }}</div>
    <div class="col-2">{{ comment.updated_at | date:"y/m/d h:m" }}</div>
    {% if user == comment.user %}
    <form action="{% url 'articles:update_comment' article.pk comment.pk %}" method="GET">
      <button type="submit" class="btn btn-success">수정</button>
    </form>
    <form action="{% url 'articles:delete_comment' article.pk comment.pk %}" class="ml-3" method="POST">
      <button type="submit" class="btn btn-danger">삭제</button>
      {% csrf_token %}
    </form>
    {% endif %}
    {% endif %}
  </div>
  {% endfor %}
  {% if user.is_authenticated %}
  <div class="row">
    <form action="{% url 'articles:new_comment' article.pk %}" method="POST">
      {% bootstrap_form commentform %}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary m-0 ml-3">생성</button>
    </form>
  </div>
  {% endif %}

</div>
{% endblock %}