{% extends 'base.html' %}
{% load bootstrap4 %}

{% block main %}
<h1>새글쓰기</h1>
{% endblock %}

{% block body %}
<div class="form-group">
  <h3>Title</h3>
  <h4>{{article.title}}</h4>
</div>
<br>
<div class="form-group">
  <h5 for="content">Content</h5>
  <p></p>
  <pre>{{article.content}}</pre>
  <p>생성일 {{ article.created_at | date:"Y년 M d일"}}</p>
  <p>수정일 {{ article.updated_at | date:"Y년 M d일"}}</p>
  <!-- sort_date_format으로 간편 포멧팅 가능 -->
</div>
<a href="{% url 'articles:index' %}">목록보기</a>
<div class="container"  style="width: 80%;">
  {% for comment in comments %}
  <div class="row">
    <div class="col-1">{{ comment.pk }}</div>
    <div class="col-7">{{ comment.content }}</div>
    <div class="col-2">{{ comment.created_at | date:"y/m/d h:m" }}</div>
    <div class="col-2">{{ comment.updated_at | date:"y/m/d h:m" }}</div>
  </div>
  {% endfor %}
  <div class="row">
    <form action="{% url 'articles:new_comment' article.pk %}" method="POST">
      {{ commentform.as_table }}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary m-0 ml-3">생성</button>
    </form>
  </div>
  

</div>
{% endblock %}