{% extends 'base.html' %}
{% block main %}
<h1 id="title">articles</h1>
{% endblock %}

{% block body %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">작성자</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <th scope="row">{{article.pk}}</th>
      <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
      <td>{{ article.user }}</a></td>
      <td>{{ article.created_at }}</td>
      <td>{{ article.updated_at }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<!-- all articles -->
{% endblock %}