<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fake search</title>
</head>
<body>
    <h1>Google</h1>
    <form action="https://www.google.com/search">
        <input name="q">
        <button>검색</button>
    </form>
    
    <h1>naver</h1>
    <form action="https://search.naver.com/search.naver">
        <input name="query">
        <button>검색</button>
    </form>

    <h1>daum</h1>
    <form action="https://search.daum.net/search">
        <input name="q">
        <button>검색</button>
    </form>

    <h1>OP.GG</h1>
    <form action="https://www.op.gg/summoner/">
        <input name="userName">
        <button>검색</button>
    </form>

    <a href="/pastlife">당신의 전생은?</a>

    <p></p>

    <a href="/goonghap">궁합을 알려 드립니다.</a>
    <p></p>

    <a href="/opgg">lol전적 검색기</a>
</body>
</html>