<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue ToDo</title>
  <style>
    .completed {
      text-decoration: line-through;
      opacity: 0.6;
    }

  </style>
</head>
<body>
  <div id="app">
    <h1>Vue ToDo</h1>
    <button @click="clearCompleted">완료목록 전체삭제</button>
    <input type="text" v-model="newTodo" @keydown.enter="addTodo">
    <button @click="addTodo">+</button>
    <select v-model="status">
      <option value="all" selected>전체보기</option>
      <option value="active">진행중</option>
      <option value="completed">완료</option>
    </select>
    <ul>
      <li :class="{completed: todo.completed}" v-for="todo in todoByStatus" @click="check(todo)" :key="todo.id">
        <input type="checkbox" v-model="todo.completed">
        {{ todo.content }}
        {{ todo.completed }}
      </li>
    </ul>
    <p>{{ reversedNewTodo }}</p>
  </div>
  <img :src="imgSrc">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
  const STORAGE_KEY = 'vue-todos'

  const todoStorage = {
    fetch() {
      return JSON.parse(localStorage.getItem(STORAGE_KEY)) || []
    },
    save(todos) {
      return localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
    }
  }
  const app = new Vue({
    el: '#app',
    data: {
      todos: todoStorage.fetch(),
      // [
      //   { id: 1, content: '꽃 사서 배달시키기', completed: true },
      //   { id: 2, content: 'IR 자료 만들기', completed: false },
      //   { id: 3, content: '과목평가 문제 검토하기', completed: false },
      //   { id: 4, content: '프로젝트 명세 검토하기', completed: false },
      // ], 
      imgSrc: 'https://joshua1988.github.io/images/posts/web/vuejs/logo.png',
      newTodo: '',
      status: 'all',
    },
    methods: {
      check(todo) {
        todo.completed = !todo.completed
      },
      addTodo() {
        if (this.newTodo.length != 0) {
          this.todos.push({
          id: Date.now(),
          content: this.newTodo,
          completed: false,
          })
          this.newTodo = ''
        }
      },
      clearCompleted() {
        const notCompleted = this.todos.filter(function (todo) {
          return !todo.completed
        })
        this.todos = notCompleted
      },
      
    },
    computed: {
      reversedNewTodo() {
        return this.newTodo.split('').reverse().join('')
      },
      todoByStatus() {
        if (this.status === 'active') {
          return this.todos.filter(function (todo) {
            return !todo.completed
          })
        }

        if (this.status === 'completed') {
          return this.todos.filter(function (todo) {
            return todo.completed
          })
        }

        return this.todos
      },
    },
    
    watch: {
      todos: {
        handler(todos) {
          todoStorage.save(todos) 
        },
        deep: true,
      }
    }, 
  })

  </script>
</body>
</html>